/* Search */

input[type=text], input[type=number] {
  padding: 10px 20px;
  width:80%;
  border:0px;
}

/* outline 테두리 없애기 */
input:focus {
  outline: none;
} 

.wrap-search{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-top:4px;
}

.wrapper-search_type{position:relative}
.wrapper-search_type .btn-search_type.select{
  border-radius:6px;
  border:1px solid #e0e0e0;
  background:#fff;
  font-weight:400;
  font-stretch:normal;
  font-style:normal;
  line-height:normal;
  letter-spacing:normal;
  color:#656565;
  text-align:left
}
  
.wrapper-search_type .btn-search_type.select.location{
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis
}

.wrapper-search_type .btn-search_type.select.on{
  border-color:#13BD7E
}

.wrapper-search_type .btn-search_type.select.location.marked{
  color:#13BD7E
}

.wrapper-search_type .btn-search_type.select{
  padding:15px 20px;
  width:98%;
  height:20%;
  font-size:16px;
  position: relative;
  margin-right:10px;
}


.wrapper-search_type .btn-search_type.select span{
  display: inline-block;
  position: absolute;
  right:8px;
}

.wrap-slider{position:relative;}
.wrap-slider .time-slider{padding:36px 7px 25px!important}
.wrap-slider .time-slider .vue-slider-dot-tooltip-top{top:-5px}
.wrap-slider .time-slider .vue-slider-dot-tooltip-top .vue-slider-dot-tooltip-inner{
  border-color:transparent;
  background:transparent;
  font-size:10px;
  font-weight:400;
  font-stretch:normal;
  font-style:normal;
  line-height:1;
  letter-spacing:-.5px;
  text-align:center;
  color:#13BD7E
}



.wrap-slider .time-slider .vue-slider-dot{top:3px!important}
.time-slider .vue-slider-dot-handle{width:12px;height:12px;border:1px solid #13BD7E;box-shadow:none}
.time-slider .vue-slider-rail{background-color:#ccc}
.time-slider .vue-slider-process{background-color:#13BD7E}
 
.tooltip-all{
  position:absolute;
  left:0;
  top:55px;
  width:100%;
  font-size:10px;
  font-weight:400;
  font-stretch:normal;
  font-style:normal;
  line-height:1;
  letter-spacing:-.5px;
  text-align:center;
  color:#13BD7E
}

.layer-search{
  display: none;
  position:absolute;
  left:50%;
  transform:translateX(-50%);
  z-index:100;
  margin-top:9px;
  width:370px;
  border-radius:6px;
  border:1px solid #e0e0e0;
  background:#fff;overflow:hidden;
  padding:40px 25px;
}

.layer-search ul{
  display: flow-root;
  padding: 0;
}


.showDis{
  display: block;
}

.hideDis{
  display: none;
}

.layer-search .wrap-btn{
  position:absolute;
  bottom:0
}


.layer-search .search-subtitle{font-size:14px;color:#333}
.layer-search .btn-green, .layer-search .btn-yellow, .layer-search .search-subtitle{
  font-weight:700;
  font-stretch:normal;
  font-style:normal;
  line-height:1;
  letter-spacing:-.5px;
}

.layer-search .btn-green, .layer-search .btn-yellow{
  box-sizing:border-box;
  float:left;
}

.layer-search .btn-green{background-color:#13BD7E;color:#fff}
.layer-search .btn-yellow{background-color:#ffd014;color:#333}



.layer-search .btn-green,.layer-search .btn-yellow{
  height:51px;
  font-size:0.9em;
}

.layer-search .btn-yellow{
  width:40%;
  border-radius: 50px;
}
.layer-search .btn-green{
  width:55%;
  border-radius: 50px;
  margin-left:10px;
}


.layer-search .wrap-button{
  margin:20px 0px 20px 0px;
}
.layer-search .wrap-button button {
  font-weight: 800;
  font-size: 0.9em;
  line-height: 1;
  letter-spacing: -.5px;
  color: #fff;
  text-align: center;
  padding: 18px 33px;
  border-radius: 27.5px;
  background-image: linear-gradient(90deg,#13BD7E,#10a26d);
}
.wrap-input {
  position: relative;
}



.search-icon{
  display: inline-block;
  font-size: 1.2em;
  vertical-align: middle;
}

.btn-clear {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  position: relative;
}

.btn-minus span,.btn-plus span{
  vertical-align: bottom;
  font-size: 1.2em;
  border: 1px solid #e0e0e0;
}

.wrap-input .btn-close {
  position: absolute;
  font-size: 15px;
  line-height: 1;
  letter-spacing: -.5px;
}


.btn-nearby{
  margin: 0 auto;
  width: 100%;
}

input.value {
  border: 0;
  text-align: center;
}

.box-input {
  align-items: center;
  text-align: center;
  margin:20px 0px;
}

.layer-search h4{
  margin-bottom:20px;
}


/* Calendar */
.wrap-calendar {
  margin-bottom: 40px;
}



.react-calendar{
  border:none;
  background: transparent;
}

.react-calendar__tile:disabled{
  background-color: var(--font-50);
}

.react-calendar__tile:disabled abbr{
  color: var(--font-200);
}

.react-calendar__tile--active{
  background-color: var(--primary) !important;
  font-weight: 800;
}

.react-calendar__tile--now{
  background: #ffd014;
}

.react-calendar__tile--active:enabled:hover{
  background: var(--primary-200) !important;
}



.filter{
  position: relative;
}


.filter-btn{
  width: 100px;
  margin: 0px;
  border-color: var(--primary);
  border-style: solid;
  border-width: 2px;
  border-radius: 30px !important;
  background-color: transparent;
  padding:8px;
  text-align: center;
  cursor: pointer;
  margin-right: 10px;
  position: relative;
  line-height: 45px;
}

.filter-btn input{
  background-color: transparent;
  border: none;
  color: var(--primary);
  font-size: 0.9rem;
}



.filter-btn span{
  vertical-align: middle;
  font-weight: 800;
  color: var(--primary);
  display: inline-block;
}


.wrap-filter{
  overflow: hidden;
  margin-bottom: 10px;
}

.wrap-filter ul li{
  margin-top: 7px;
  margin-right: 7px;
  width: 47%;
  float: left;
}
.wrap-filter ul li input{
  display: none;
}
.wrap-filter ul li label{
  display: block;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    font-size: 12px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 34px;
    letter-spacing: -.5px;
    text-align: center;
    color: #656565;
}


.wrap-filter ul li input:checked+label{
  color: var(--primary);
  border-color: var(--primary);
}



/* board-list */


.div-flex .match-list{
  width: 243px;
  margin-bottom: 0px;
}

.div-flex .facility{
  background-color: var(--font-50);
}

.div-flex .facility,.div-flex .lesson{
  width: 263px;
  margin-bottom: 0px;
}



.div-flex .match-list:nth-child(4n),.div-flex .facility:nth-child(4n),.div-flex .lesson:nth-child(4n){
  margin-right: 0px;
}

.list .facility{
background-color: var(--font-50);
}

.wrapper{
  display: flex;
  justify-content: space-evenly;
}


.btn-list{
  margin-top:40px;
}


.review__btn{
  margin-top:20px;
  width: 100%;
  padding: 15px;
  border: none;
  background-color: var(--bs-yellow);
  font-size: .8rem;
  color:var(--font);
  border-radius: 10px;
  display: inline-block;
}


.review__btn i{
  vertical-align: middle;
  margin-right:5px;
  font-size: .9rem;
}

ul{ list-style:none; }
#optionBtn { display: none; }

#insertBtn, #updateBtn, #deleteBtn { visibility: hidden; }
#selectAll { display: none; }
.delList { display: none; }
#payment-submit{ display:none;}

.facility .sports-category{
  position: absolute;
  top:10px;
  left: 10px;
}

.facility-list-fl, .lesson-list-l{
  float: left;
  margin-right: 5px;
  width: 24.5%;
}

.facility-list-fl:nth-child(4n+1){
  margin-right: 0px;
}

.lesson-list-l:nth-child(4n){
  margin-right:0px;
}

.wrap__filter{
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

#facility-search form{
  display: flex;
  justify-content: space-between;
}

.search__location div{
  float: left;
  margin-right:20px;
}
.search__location h4, .search__options h4{
  margin-bottom: 10px;
}
.search__location select{
  padding: 10px;
  width: 150px;
  border-color: #ddd;
  border-radius: 5px;
}


.search__options .list-facility{
  display: flex;
}

.search__location input[type=date]{
position: relative;
min-height: 30px;
padding: 10px 12px;
border: none;
border-bottom: 1px solid #666;
background-color: transparent;
margin-bottom: 0px;
}

.list-facility li label {
  display: block;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
  font-size: 12px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 34px;
  letter-spacing: -.5px;
  text-align: center;
  color: #656565;
  padding: 2px 15px;
  margin-right: 5px;
}



.list-facility li input:checked+label {
    color: var(--primary);
    border-color: var(--primary);
}

.list-facility li input{
  display: none;
}


.re__Btn{
  width: 100%;
  padding: 15px 0px;
  border-radius: 10px;
  background-color: #333;
  color: #fff;
}

.tel {
  padding-bottom: 20px;
}

.tel p{
  color: var(--font);
  margin-bottom: 5px;
}

.tel p:last-child{
  font-size: 2rem;
  font-weight: 600;
}


.fill {
  color:var(--primary) !important;
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48,
}

.material-symbols-outlined{
  font-size: 2rem;
  color:var(--font-200);
}

.icon_list{
  display: inline-block;
  padding: 10px 30px;
  border: 1px solid #DDD;
  text-align: center;
  margin-right: 15px;
  border-radius: 10px;
}

.icon_list span:last-child{
  margin-top: 10px;
  font-size: .8rem;
}


.review-list{
  position: relative;
}

.review-list span.star{
  position: absolute;
  top:40px;
  right:30px;
}









/* 결제 예정 금액 */
.book_wrap{
  margin: 100px auto 0 auto;
  padding: 80px;
  border: 1px solid #ddd;
  border-radius: 20px;
}

.book_wrap h3{
  text-align: center;
  font-size: 2rem;
  margin-bottom: 80px;
  font-weight: 300;
}

.info__detail p, .book__detail p, .pay__detail p{
  color: var(--font-500);
} 

.info__detail{
  /* margin: 20px 0px;
  border-bottom: 1px solid rgb(155, 155, 155);
  padding:30px 0px; */
  margin-left: 40px;
  float: right;
  width: 45%;
}

.info__detail img{
  width: 100%;
  height: 350px;
}

.info__detail ul li, .book__detail ul li{
  display: flex;
  justify-content: space-between;
  padding-bottom:20px;
} 

.info__detail ul li p:last-child, .book__detail ul li p:last-child{
  font-weight: 700;
  color: var(--font);
}



.book__detail{
  width: 48%;
  float: left;
}
.bookicon {
  text-align: center;
  position: absolute;
  top:137px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bookicon span{
font-size: 5rem !important;
text-align: center;
color: #fff;
background: #8db6f5;
padding: 20px;
border-radius: 50%;
}


.pay__detail{
  border-top: 1px solid rgb(155, 155, 155);
  padding: 36px 0px;
  display: flex;
  justify-content: space-between;
  line-height: 22px;
  margin: 14px 0px;
  clear: both;
}


.pay__detail p:last-child{
  font-size: 2rem;
  color: var(--bs-red);
  font-weight: 700;
}


.pay_Btn{
  width: 20%;
  height: 70px;
  background-color: #10a26d;
  border-radius: 10px;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  float: right;
}

.pay_Btn:hover{
  transform: scale( 1.1, 1.1 )
}

.info__detail p:first-child{
  margin-bottom:20px;
  font-weight: 500;
  color: var(--font);
  font-size: 1.2rem;
}

p.book_title{
  color: var(--font);
  font-weight: 700;
  font-size: 2.3rem;
  margin-bottom: 60px;
  letter-spacing: -1px;
}


.book_fa_info{
  padding-bottom: 60px;
  border-bottom: var(--font-200);
}



/* 매칭 css */

.counting{
  width: 130px;
  padding: 6px 0px;
}

.counting input[type=button]{
  padding:4px 8px;
  background-color: transparent;
  border: 1px solid #ddd;
  cursor: pointer;
  border-radius: 5px;
}

.counting input[type=button]:hover{
  border-color: #666;
}

.counting .countspan{
  display: inline-block;
  width: 60px;
  text-align: center;
}

.searchOption { 
  display:none; 
  padding: 10px 0px;  
}

.searchOption li{
  margin-bottom: 10px;
}

#fixmatch { display: none; }
#unfixmatch { display: none; }

.p__list{
  clear: both;
  line-height: 30px;
}

.people{
display: inline-block !important;
padding: 10px 20px;
background: var(--bs-orange);
display: inline-block;
border-radius: 10px;
font-size: .8rem;
margin-right: 10px;
color: #fff;
}


.btn-color{
  background-color: var(--bs-red) !important;
}
