.mypage__list{
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.mypage__list button{
  border: none;
  background-color: transparent;
  padding: 8px;
  font-size: .95rem;
  text-align: left;
}


.button--on{
  color: var(--font);
  font-weight: 800;
}

.button--off{
  color: var(--font-300);
}


.form__wrap{
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}

.form__wrap p{
  font-size: .8rem;
  margin-bottom: 5px;
}

.form__wrap input{
  border: 2px solid #ddd;
  border-radius: 15px;
  padding: 15px;
  width: 100%;
}

.btn__wrap{
  display: flex;
  margin-top:50px;
}

.btn__wrap button{
  border: none;
  background-color: var(--font-50);
  padding:10px 20px;
  border-radius: 15px;
  color: var(--font-300);
  margin-right:10px;
  font-size: .8rem;
}

.btn__wrap button:first-child{
  background-color: var(--primary);
  color:#fff;
}


.tac {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.mypageWrapper {
	height: 1000px;
	display: flex;
	justify-content: center;
}

.tab_menu {
	width:1440px;
	position: relative;
}

.tab_menu > ul {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	margin-top:50px;
	position: relative;
	height: 1000px;
}

.tab_menu > ul > li > a > h2 {
	border: none;
    background-color: transparent;
    padding: 8px;
    font-size: .95rem;
    text-align: left;
}

.cont {
	position: absolute;
	left: 150px;
	top: 8px;
	width: 86.9%;
	height: auto;
}

.memberProfile {
	margin-top: 20px;
}

.memberMod {
	margin-bottom: 20px;
}

.memberMod > p {
	font-size: 0.8em;
}

.memberMod > div {
	border: 2px solid #ddd;
    border-radius: 15px;
    padding: 15px;
    width: 100%;
}

#clientNickname {
	border-radius: 15px;
    padding: 15px;
    width: 90%;
	border: 2px solid #ddd;
}

#clientNicknameChk {
	transform: translate(51%);
	border-radius: 8px;
	border: none;
	background-color: var(--primary);
    color: #fff;
    width: 80px;
    height: 30px;
    cursor: pointer;
    font-weight: bolder;
}

#Email {
	border-radius: 15px;
    padding: 15px;
    width: 100%;
	border: 2px solid #ddd;
}

#clientName {
	border-radius: 15px;
    padding: 15px;
    width: 100%;
	border: 2px solid #ddd;
}

#clientNum {
	border-radius: 15px;
    padding: 15px;
    width: 100%;
	border: 2px solid #ddd;
}

#confirmMod {
	float: right;
	margin-top: 30px;
	border-radius: 8px;
	border: none;
	background-color: var(--primary);
    color: #fff;
    width: 80px;
    height: 30px;
    cursor: pointer;
    font-weight: bolder;
}

#withdrawl {
	position: absolute;
	left: 40%;
	top: 1000px;
	border-radius: 8px;
	width: 200px;
	height: 50px;
	background-color: red;
	color: white;
	border-style: none;
	font-weight: 600;
	font-size: larger;
	cursor: pointer;
}

#inqWrapper {
	margin-top: 20px;
}

#inqListWrapperTop {
	height: 700px;
	display: flex;
	justify-content: center;
	position: relative;
}

#inqListWrapper {
	margin-top: 150px;
	width: 1100px;
}

.inqListpaging {
	margin-top: 100px;
	transform: translate(-4.5%);
}

.inqList {
	width: 100%;
	padding: 20px 0px;
    border-bottom: 1px solid rgb(51, 51, 51);
    border-top: 2px solid rgb(51, 51, 51);
}

.inqList > ul {
	display: flex;
}

.inqListNum {
    flex-basis: 100px;
    text-align: center;
    line-height: 20px;
    font-weight: 400;
}

.inqListChk {
	flex-basis: 65px;
    text-align: center;
    line-height: 20px;
    font-weight: 400;
}

.inqListTitle {
	-webkit-box-flex: 1;
    flex-grow: 1;
    /* text-align: center; */
    line-height: 20px;
    font-weight: 400;
}

.inqListID {
	flex-basis: 100px;
    text-align: center;
    line-height: 20px;
    font-weight: 400;
}

.inqListDate {
	flex-basis: 100px;
    text-align: center;
    line-height: 20px;
    font-weight: 400;
}

#inqContentsList {
	display: flex;
	flex-direction: row;
	padding: 20px 0;
	border-bottom: 1px solid rgb(244, 244, 244);
}



.BookedMatchInform {
	border-bottom: 1px solid rgb(51, 51, 51);
    border-top: 2px solid rgb(51, 51, 51);
    margin-top: 20px;
    padding: 10px 0px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

/* .BookedMatchInform > span::after {
	content: '|';
    padding-left: 15px;
    line-height: 10px;
    font-size: 10px;
} */

.BookedMatchSport {
	display: flex;
	justify-content: center;
	padding: 10px 0;
	border-bottom: 1px solid rgb(244, 244, 244);
}

#bookedMatchFirst {
	padding: 10px 0px;
	display: flex;
	justify-content: space-around;
	border-bottom: 1px solid rgb(244, 244, 244);
}

#bookedMatchSecond {
	padding: 10px 0px;
	display: flex;
	justify-content: space-around;
	border-bottom: 1px solid rgb(244, 244, 244);
}

.inqListWrapperTitle {
	position: absolute;
	top: 50px;
	left: 46%;
}

ul, li {
    list-style: none;
}

.n-prd-row {
    display: table;
    table-layout: fixed;
    width: 85%;
    min-height: 96px;
    font-family: "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
    line-height: 1.5;
    font-size: 14px;
    text-align: left;
    position: relative;
    margin-bottom: 15px;
    border-bottom: 2px solid rgb(244, 244, 244);
}

.n-prd-row:last-child {
	border-style: none;
}

.n-prd-row .img-block {
    display: table-cell;
    width: 400px;
    height: 250px;
    vertical-align: middle;
}

.n-list-row .n-prd-row {
    width: 25%;
}

.n-list-row.my-like .n-prd-row .n-check + label {
    top: -10px;
    bottom: -10px;
}

.Jjiminfo {
    display: flex;
    flex-direction: column;
    padding: 39px;
}

.Jjiminfo > li {
	margin-bottom: 15px;
}

#facImageSource {
	width: 90%;
	height: 80%;
	border-radius: 24px;
}

#facSpoBtn {
	padding: 1px;
	font-weight: bold;
	border-style: none;
    background-color: var(--primary-600);
	color: white;
	border-radius: 5px;
}

#dellikeBtn {
	width: 30px;
	margin-right: 20px;
}

.like-sm {
	display: flex;
	align-items: center;
}

.review__btn {
	cursor: pointer;
}

.tab-button {
	border-style: none;
	width: 100px;
	height: 25px;
	border-radius: 4px;
	cursor: pointer;
}



#tab-button-nav {
	margin-top: 50px;
	display: flex;
	/* transform: translate(130%); */
	
}

#tab-button-nav > button {
	border-style: none;
	background-color: lightgrey;
	width: 120px;
	height: 50px;
	border-radius: 8px;
    background-color: var(--primary-600);
	color: white;
	cursor: pointer;
	margin-right:20px;
}


.tab-section div {
	width: 260px;
	margin-left: 15px;
	height: 300px;
	margin-bottom: 15px;
}

.tab-section div:first-child {
	margin-left: 0;
}

#MakeSorting {
	transform: translate(20%);
}

#sorting-tab-button-nav {
	transform: translate(10%);
	margin: 15px;
	margin-bottom: 100px;
}

#sorting-tab-button-nav > button {
	border-style: none;
	background-color: lightgrey;
	width: 120px;
	height: 50px;
	border-radius: 8px;
	margin-left: 15px;
  background-color: var(--primary-600);
	color: white;
	cursor: pointer;
}

.sectionDiv {
	float: left;
	width: 210px;
	margin-left:20px;
}

.sectionDiv:first-child{
	margin-left: 0px;
} 






