/* .SigningMain {
    display: flex;
    justify-content: center;
} */
.Signing {
    margin: 0 auto;
    width: 650px;
}
.Signing > span {
    position: relative;
    float: right;
}
.Signing > div > h1 {
    transform: translate(35%);
    margin-bottom: 20px;
}
hr {
    clear: both;
    height: 4px;
    background: black;
}
.inputForm {
    width: 400px;
    display: flex;
    justify-content: space-around;
    position: relative;
    margin-bottom: 25px;
    transform: translate(5%);
}
.formBoxTop {
    /* display: flex;
    justify-content: center; */
}
.formBox {
    position: relative;
    margin-top: 30px;
    /* width: 90%; */
}
.redColour {
    color: red;
}
.ValTarget {
    /* display: flex; */
    /* margin-bottom: 26px; */
    align-items: center;
    position: relative;
    padding-bottom:15px;
    line-height: 40px;
}


.ValTarget > button {
    background-color:transparent;
    padding:7px 12px;
    color: var(--font);
    border-radius: 8px;
    float: right;
    border:1px solid var(--font-200);
    font-size:.8rem;
    cursor:pointer;
}




.ValTarget > input {
    border: 0.5px solid darkgray;
    width: 350px;
    height: 43px;
    border-radius: 4px;
    font-size: 12px;
}

.ValTarget span{
    font-size:0.8rem;
}

.ValTarget span.warning{
    color:red;
    font-size: .7rem;
    position: absolute;
    top: 35px;
    left: 0;
}

.ValTarget div:first-child{
    width: 120px;
    float: left;
    margin-right:10px;
}
/* .idCheck {
    display: flex;
    justify-content: space-between;
} */
.idCheck > input {
    /* margin-left: 38px; */
}
/* 
.pwCheck > input {
    margin-left: 39px;
    transform: translate(-0.7%);
}
.pwDCheck > input {
    margin-left: 6.5px;
     transform: translate(-0.4%);
}
.nameCheck > input {
    margin-left: 72px;
     transform: translate(-1%);
}
.nicCheck > input {
    margin-left: 56px;
    transform: translate(-1%);
}
.emailCheck > input {
    margin-left: 56px;
    transform: translate(-1%);
} */
/* .numCheck {
    display: flex;
    justify-content: space-between;
} */
/* .numCheck > input {
    margin-left: 38px;
}
.numDCheck > input {
    margin-left: 110px;
    transform: translate(1.2%);
} */



.formBtn ul {
    display: flex;
}
.formBtn ul li.formBtnGender label{
    padding: 2px 46px;
}


.formBtn button {
    width: 120px;
    border-style: none;
    border-radius: 5px;
    height: 35px;
    background-color: rgb(219, 219, 219);
}
.formDate {
    display: flex;
    align-items: center;
}
.formDate > input {
    width: 249px;
    height: 40px;

    border-style: none;
    border: 0.5px solid darkgray;

}
.css-1lwbda4-MuiStack-root {
    margin-left: 63px;
    width: 270px;
}
.agreementAsk {
    margin-left: 20px;
}
.agreementTitle {
    margin-bottom: 5px;
}
.agreementTitle input {
    margin-left: 13px;
    margin-right: 20px;
}
.agreement span:nth-child(3){
    font-size: larger;
    font-weight: bold;
}

.agreement > div > label > span > input {
	transform: translate(70%);
}

.agreement > div {
    margin-left: 135px;
    margin-bottom: 5px;
}
.agreement > div > span:nth-child(1) {
    margin-right: 20px;
}
/* .agrChk {
	transform: translate(70%);
} */

.chk {
    margin-right: 19px;
}

.signUpBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(-15%);
}
.signUpBtn button {
    height: 50px;
    border-style: none;
    margin: 50px auto 20px auto;
    border-radius: 20px;
    background-color: var(--primary);
    color: white;
}
.signUpBtn > button:disabled {
    background-color: #DADADA;
    color: white;
}
.signUpLink a {
    color: rgba(0, 0, 255, 0.24);
}
#chkAll {
    margin-right: 10px;
}

div.formBtnGender{
    margin-left:130px;
}



.formBtn input[type="radio"] {
	display: none;
}

.formBtn input[type="radio"] + span {
	width: 120px;
	height: 35px;
    background-color: rgb(219, 219, 219);
    display: inline-block;
    padding: 15px 10px;
    border-style: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    line-height: 10px;
	font-weight: 600;
    }

.Validate {
    position: absolute;
    margin-left: 110px;
    font-size: 11px;
    color: red;
}
.VID {
    top: 44px;
}
.VPW {
    top: 112px;
}
.VDPW {
    top: 180px;
}
.VNICK {
    top: 462px;
}
.VNAME {
    top: 249px;
}
.VEMAIL {
    top: 387px;
}
.VNUM {
    top: 455px;
}


.tab-content{
	display: none;
	padding: 15px;
    margin-top:50px;
}

.tab-content.current{
	display: inherit;
}


ul.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ul.tabs li{
	background: none;
	color: #222;
	display: inline-block;
	padding: 15px;
	cursor: pointer;
    width: 100%;
    text-align: center;
    border: 1px solid var(--font-200);
}

ul.tabs li.current{
	color: var(--font);
    border:1px solid var(--font);
}